.container-fluid.col-md-12.disappears-on-phones
  .container-fluid.col-md-12.bubbles
    .container-fluid.col-md-12
      .circle-container.container.col-md-3
        .outer-circle.light-blue-circle
          .inner-circle-container
            .inner-circle.dark-blue-circle
            .circle-content
              %p.circle-header VOLUNTEER
              %p.circle-text
                Support your local school and make a difference in a child's life today.
      .circle-container.container.col-md-3
        .outer-circle.light-orange-circle
          .inner-circle-container
            .inner-circle.dark-orange-circle
            .circle-content
              %p.circle-header SUMMER READING
              %p.circle-text
                See how you can take part in this summer's challenge!
      .circle-container.container.col-md-3
        .outer-circle.light-green-circle
          .inner-circle-container
            .inner-circle.dark-green-circle
            .circle-content
              %p.circle-header GET SOCIAL
              %p.circle-text
                We are uniting a culture of reading across the state. The movement
                begins with you. Join us.
      .container.word-bubble.col-md-3
        .word-bubble-container
          .words-container
            %p.word-bubble-words hello there
  .container-fluid.footer-pictures.col-sm-12.col-lg-11.col-lg-offset-1
    %img{src: "/images/read-today-gif-loop.gif"}
