.container-fluid.picture-holder.col-md-12.col-xs-12
  .footer-picture-1.col-md-12

  -# .footer-picture-2.col-md-1
  -#
  -# .footer-picture-3.col-md-1

  -# .footer-picture-4
  -#
  -# .footer-picture-5
  -#
  -# .footer-picture-6
  -#
  -# .footer-picture-7
  -#
  -# .footer-picture-8
  -#
  -# .footer-picture-9
  -#
  -# .footer-picture-10
  -#
  -# .footer-picture-11
