.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-8.col-md-offset-1
    .container-fluid
      %h1.nav-links-header
        123 CONNECT
      %h3.green-h3.no-padding-left
        OUR MONTHLY NEWS PUBLICATION WITH THE DESERET NEWS IS COMPLEMENTARY AND
        AVAILABLE FOR ALL UTAH ELEMENTARY SCHOOLS
      %h3.dosis-font
        %strong
          Would you like to receive 123 Connect in your school? Please complete
          the
          %a.dosis-bold
            order form
          and send it to
          %a
            apoynor@utahmediagroup.com
