.container-fluid.col-md-12
  .container-fluid.col-md-11.col-md-offset-1
    .container-fluid.col-md-8
      %h1.nav-links-header
        123 CONNECT
      %h3.green-h3.no-padding-left
        OUR MONTHLY NEWS PUBLICATION WITH THE DESERET NEWS AVAILABLE FOR ALL
        SCHOOLS ACROSS THE STATE
      %h3.dosis-font
        %strong
          Would you like to receive 123 Connect in your school? Please complete
          %a.dosis-bold
            this
          order form and send it to
          %a
            apoynor@utahmediagroup.com
