.container-fluid.col-md-12.col-xs-12
  .container-fluid.col-md-11.col-md-offset-1
    %h1.dmca-header
      MAKING CLAIMS OF COPYRIGHT INFRINGEMENT:
      %br
      NOTICE AND PROCEDURE FOR TAKE-DOWN
    %p.col-md-10
      This website is operated by Deseret Digital Media, Inc. (“Operator”).
      If you believe copyrighted work is available on this website
      %br
      in a way that constitutes copyright infringement, you may notify the
      following designated agent of Operator in writing:
      %br
      %br
      %strong
        %p.col-md-4.col-md-offset-4
          Deseret Digital Media, Inc.
          %br
          55 North 300 West
          %br
          5th Floor
          %br
          Salt Lake City, Utah 84101
          %br
          Attn: Legal Department
          %br
          dmca@deseretdigital.com
          %br
  .container-fluid.col-md-11.col-md-offset-1
    %h5.col-md-12
      Your written notification (the “Notification”) to the above-referenced
      designated agent must include substantially all of the following:
      %br
      %br
    .container-fluid.col-md-11.dmca-list
      %ol{:type => 'a', class: 'col-md-10'}
        %li
          Identification of the copyrighted work that is the subject of the
          claimed infringement or, if multiple copyrighted works are involved,
          a representative list of the works;
        %br
        %li
          Identification of the allegedly infringing material, together with
          information reasonably sufficient to permit Operator to locate the
          material;
        %br
        %li
          Information reasonably sufficient to permit Operator to contact you,
          such as your name, address, telephone number and email address;
        %br
        %li
          A statement by you that you have a good faith belief that the
          copyrighted work identified in the Notification is being used in a
          manner that is not authorized by the copyright owner, its agent or
          the law;
        %br
        %li
          A statement by you, signed under penalty of perjury, that the
          information contained in the Notification is accurate and that you are
          authorized to act on behalf of the owner of the copyrighted work that
          is allegedly being infringed;
        %br
        %li
          A physical or electronic signature of the owner of the copyrighted
          work or a person authorized to act on their behalf.
    %h5.col-md-12
      The Impacted Party may submit a counter notification in writing to the
      above-referenced designated agent of Operator. The written counter
      notification (the “Counter Notification”) must include substantially all
      of the following:
      %br
      %br
    .container-fluid.col-md-11.dmca-list
      %ol{:type => 'a', class: 'col-md-10'}
        %li
          Identification of the allegedly infringing material that was removed
          or disabled by Operator and the location where the material appeared
          before it was removed or access to it was disabled;
        %br
        %li
          A statement under penalty of perjury that the Impacted Party has a
          good faith belief that the allegedly infringing material was removed
          or disabled as a result of mistake or misidentification of the material
          to be removed or disabled;
        %br
        %li
          The Impacted Party’s name, address and telephone number and a statement
          that the Impacted Party consents to the jurisdiction of the United States
          federal district court for the judicial district in which the address
          provided by the Impacted Party is located and will accept service of
          process from you. If the Impacted Party is located outside the United
          States, the Impacted Party must include a statement that it consents
          to the jurisdiction of any United States federal district court in which
          Operator may be found;
        %br
        %li A physical or electronic signature of the Impacted Party.
    %h5.col-md-12
      Upon receipt of a Counter Notification containing substantially all of the
      foregoing, Operator will take the following steps:
    .container-fluid.col-md-11.dmca-list
      %ol{:type => 'a', class: 'col-md-10'}
        %li Send you a copy of the Counter Notification;
        %br
        %li
          Inform you that it will replace the allegedly infringing material or
          cease disabling access to it within ten (10) business days;
        %br
        %li
          Replace the removed allegedly infringing material or cease disabling
          access to it not less than ten (10) nor more than fourteen (14) business
          days following receipt of the Counter Notification, provided you have
          not supplied the designated agent with evidence that you have filed an
          action seeking a court order to restrain the Impacted Party from engaging
          in the infringing activity that was the subject of the Notification
    %h5.col-md-12
      Operator’s policy is to terminate the online privileges of individuals who
      repeatedly violate the copyrights of others.
