.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-9
    .container.col-md-8.col-sm-10
      %h1.nav-links-header FREQUENTLY ASKED QUESTIONS
      %h3.green-h3 GET INVOLVED WITH READ TODAY
      %h4.orange-h4 PARENTS, TEACHERS, TUTORS AND MEMBERS OF THE COMMUNITY
    .container.col-md-3.space-ship-gif
      %img{src: "/images/ufo.gif"}

  .container-fluid.col-md-9
    .container-fluid.blue-h4
      %h4 WHAT IS READ TODAY?
    .container-fluid
      %p
        Read Today is a high impact literacy program that motivates, educates and
        celebrates Utah’s kids. The Read Today team hosts and supports a variety
        of programs and events throughout the year. For a list of events
        %a
          click here
    .container-fluid.blue-h4
      %h4 WHAT IS THE PURPOSE OF READ TODAY
    .container-fluid
      %p
        The purpose of Read Today is to help Utah kids become proficient in
        reading, have access to books in their community and develop a love of
        literacy. Read Today also supports Governor Herbert's goal of having 90%
        of Utah students be proficient readers.
    .container-fluid.blue-h4
      %h4 DOES READ TODAY OFFER A SUMMER READING PROGRAM?
    .container-fluid
      %p
        Yes, every year we feature a Summer Reading Challenge in a special edition
        of the Deseret News. To obtain your copy, check with your local school,
        or visit our
        %a
          Schedule
        page at the end of the school year to download your own copy to get started.
    .container-fluid.blue-h4
      %h4 HOW CAN I GET CHOPPER 5 TO MY SCHOOL?
    .container-fluid
      %p
        We are always interested in hearing how your school is doing great things.
        We believe in telling the story of the community.
        %a
          SHARE
        Let us know what you’re doing!
    .container-fluid.blue-h4
      %h4 I AM A MEMBER OF PTA, HOW CAN I BE INVOLVED?
    .container-fluid
      %p
        Reach out to your PTA president or Education Commissioner and see what
        opportunities your school has to help struggling readers. Or
        %a
          contact us
        and tell us what you're doing. The Read Today team loves to help motivate
        and celebrate Utah's readers.
    -# %br
    -# %br
    -# %br
