.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container.col-md-6
    %h1.nav-links-header OUR MISSION
    %h3.green-h3
      %strong
        READ TODAY MOTIVATES, EDUCATES AND CELEBRATES UTAH’S KIDS AS THEY STRIVE
        TO REACH THEIR LITERACY GOALS. WE WORK WITH INVIDUALS, PARENTS, TEACHERS,
        SCHOOLS, DISTRICTS, AND BUSINESS AND COMMUNITY LEADERS TO PROVIDE TOOLS AND
        INCENTIVES TO HELP YOUNG READERS.
      %br
      %br
  .container.col-md-3.robot.disappears-on-phones
    %img{src: "/images/robot.gif"}
  .container-fluid.col-md-9
    .container-fluid.no-padding-left.dosis-font.bigger-font
      %p Dear Readers and Partners,
      %br
      %p Read Today is on a mission to help every child learn to read.
      %p
        Reading is one of the most important foundational skills a child can
        learn for success throughout life. Research also shows that those
        children who learn to read before age 9, with the help of involved
        parents at home, have a much better chance of thriving in school.
      %p
        The purpose of Read Today is to help students become proficient in
        reading, while supporting Governor Herbert's goal of having 90% of Utah
        students be proficient readers.
      %p
        KSL and Deseret News are our media partners who help create awareness,
        and join in the fun of our school celebrations, family nights, community
        events and literacy landings with Chopper 5.
      %p
        We know we all can achieve the goal of teaching every child to learn to
        read, but we can only do it with the help of parents, grandparents,
        relatives, neighbors, businesses and community partners.
      %p
        "We're All In" for education in Utah. Join us and make a difference in
        a child's life today.
      %br
      %br
    .container-fluid.col-md-offset-3
      %img{src: "/images/duck.png"}
