.container-fluid.col-md-12
  .container-fluid.col-md-11.col-md-offset-1
    %h1.nav-links-header PIZZA PLEDGE
  .container-fluid.col-md-11.col-md-offset-1
    .container-fluid.col-md-10
      %p
        The Pizza Pledge has completed for 2017.
        %br
        Please watch this page for future events.
