.container-fluid.col-md-12
  = render partial: 'layouts/vertical_circles'
  .container-fluid.col-md-8.col-md-offset-1
    %h1.nav-links-header VOLUNTEER
    %h3.green-h3.col-md-6.no-padding-left
      GET INVOLVED AND OPEN
      %span.light-orange-span
        WORLDS OF
        %br.disappears-on-phones
        WONDER
      TO CHILDREN IN YOUR COMMUNITY!
      %br
      %br
  .container-fluid.col-md-8.col-md-offset-1
    .container-fluid.no-padding-left
      %p.dosis-bold.bigger-font
        The
        %strong Read.Graduate.Succeed.
        program places AmeriCorps members in elementary schools. These members
        recruit, train, schedule and monitor volunteers to individually tutor
        students who have been identified as needing extra help in reading by
        their classroom teachers and principals.
      %br
    .container-fluid.no-padding-left
      %p.dosis-font.bigger-font
        Volunteers are asked to provide 1-2 hours of service a week at an
        elementary school in your area. You will be tutoring a child 1:1 in a
        public area, where other tutors are serving, with supervision of a school
        reading coordinator. Prior to tutoring, volunteers are given a brief
        training and taught how to properly help children learn how to read.
    .container-fluid.no-padding-left
      %h4.green-h3
        %strong For more information on how you can volunteer in your neighborhood school:
    .container-fluid.col-md-offset-1
      %p
        %span.dosis-font Visit
        %a{ href: 'https://www.readgraduatesucceed.com'} readgraduatesucceed.com
        %br
        %span.dosis-font Call
        801-737-7403
        %br
        %span.dosis-font Email
        %a skanchy@ogdensd.org
        %br
        %br
