- connects.each do |connect|
  %span
    -if connect.early
      = link_to "#{connect.display_name}", connect.attached_pdf.pdf.url, target: :blank, class: "connect-link early-link"
    - else
      = link_to "#{connect.display_name}", connect.attached_pdf.pdf.url, target: :blank, class: "connect-link regular-link"
