/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.css.scss";
@import "pages.css.scss";
@import "news.css.sass";
@import "circles.css.sass";
@import "activities.scss";

$rt-light-green: #a1b82f;
$rt-dark-green: #819c1a;
$rt-orange: #f58327;
$rt-blue: #0089ce;

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-Regular.eot');
	src: font-url('Dosis-Regular.eot?#iefix') format('embedded-opentype'),
		font-url('dosis-regular-webfont.woff') format('woff'),
    font-url('dosis-regular-webfont.woff2') format('woff'),
		font-url('Dosis-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// ************ top of every page ***********

.top-bar {
  height: 80px;
  width: 100%;
  background: image-url("header.jpg");
  position: absolute;
  z-index: -1;
}

.wrapper{
  height: 100%;
  .page-container {
    min-width: 70%;
    clear: both;
  }
}

.logo {
	img {
		max-height: 250px;
		width: 492px;
	}
  float: left;
  padding: 0 20px;
  margin: auto;
}

// ************** Navbar specifics *************

.blacky {
  margin: 80px 0 0;
  float: right;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
	min-width: 670px;
}

#media-tab {
  width: 120px;
  text-align: center;
}

.nav-top-link:hover > :first-child {
  color: $rt-orange;
  background-color: transparent;
}

.dropdown-menu {
  display: none;
  border: none;
  background-color: $rt-light-green;
  li a {
    padding: 10px 0;
    text-align: center;
    color: white;
    &:hover {
      color: white;
      background-color: $rt-dark-green;
    }
  }
}

#programs-dropdown {
  min-width: 117.56px;
  li > a {
    min-width: 117px;
  }
}

#resources-dropdown {
  min-width: 124px;
  li > a {
    min-width: 124px;
  }
}

#media-dropdown {
  min-width: 120px;
  li > a {
    min-width: 120px;
  }
}

.dropdown-menu li:hover {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

// **************  bottom of every page ***********

.page-bottom {
  // height: 60px;
  background-color: #f58327;
  color: white;
  .footer-links-container {
    margin: 20px 0;
    padding: 0;
  }
  .footer-links {
    margin-bottom: 0;
    padding-left: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.footer-ksl-logo {
  float: right;
  height: 60px;
  background: image-url('ksl_footer_logo.png') no-repeat center;
}

.icon-bar {
  background-color: white;
}

.btn-navbar {
  background-color: $rt-light-green;
}


// ************** smaller screens than 'huge' **************


@media only screen and (max-width: 1200px) {
  .blacky {
    margin-top: 0;
    clear: left;
  }

  .logo {
    margin: 0 auto;
  }

  .footer-links {
    padding-left: 0 !important;
  }

  .footer-ksl-logo {
    float: left;
    clear: left;
  }
}

// **************** just phones pretty much *************

@media only screen and (max-width: 758px) {
  li.dropdown:hover .dropdown-menu {
    position: absolute;
    left: 120px;
    top: 0;
  }


  .nav-top-link:hover > :first-child {
    background-color: $rt-blue;
    color: white;
  }

  #media-tab {
    width: auto;
    text-align: left;
  }

	.disappears-on-phones {
    display: none;
  }

	.logo img{
		max-height: 150px;
		width: 400px;
	}

	.blacky {
		min-width: 400px;
	}

}
