/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.css.scss";

@font-face {
  font-family: 'Dosis';
  src: font-url('dosis-regular-webfont.woff') format('woff'),
       font-url('dosis-regular-webfont.woff2') format('woff'),
       font-url('Dosis-Regular.ttf') format('truetype')
}

.top-bar {
  height: 80px;
  width: 100%;
  background: image-url("header.jpg");
  position: absolute;
  z-index: -1;
}

.wrapper{
  height: 100%;
  .page-container {
    min-width: 70%;
    clear: both;
  }
}

#logo {
  // min-width: 397px;
  height: 168px;
  margin: 0 5px;
  // float: left;
  position: static;
  background: image-url("read_today_logo.png") no-repeat;
  // z-index: 20;
}

.logo {
  float: left;
}



.blacky {
  height: 60px;
  margin: 80px 0 0;
  // width: 50%;
  float: right;
  font-size: 20px;
  min-width: 727px;
}

.navbar {
  height: 60px;
  margin: 0;
  background-color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;


  li, .dropdown-menu {
    border: none;
    width: 130px;

    &.list-item {

      a {
        padding: 10px 0;
        text-align: center;
        color: white;
        &:hover {
          background: #819c1a;
        }

        &.dropdown-toggle {
          padding: 0;
        }
      }
    }
  }

  #our-mission {
    padding: 15px 0;
  }

  ul.dropdown-menu li:hover{
    visibility: hidden;
    min-width: 130px !important;
    background: #a1b82f;
  }
  .nav-top:hover {
    color: #f58327;
    background-color: white;
  }
  .dropdown:hover {
    visibility: visible;
  }
}

.page-bottom {
  // height: 60px;
  background-color: #f58327;
  color: white;
  z-index: -1;
  .footer-links-container {
    margin: 20px 0;
    padding: 0;
  }
  .footer-links {
    margin-bottom: 0;
    padding-left: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.footer-ksl-logo {
  float: right;
  height: 60px;
  background: image-url('ksl_footer_logo.png') no-repeat center;
}







@media only screen and (max-width: 1182px) {
  .logo {
    padding: 0;
  }

  .blacky {
    margin-top: 0;
    // float: left;
    width: 100%;
    margin: auto;
    }

  .navbar-toggle {
    background-color: black;
    margin-right: 20px;
  }
  .logo {
    width: 100%;
    display: block;
    #logo {
      margin: auto;
    }
  }

  #read-today-navbar {
    min-width: 130px !important;
    float: right;
    padding: 0;
  }

  .navbar-right {
    width: 130px;
    margin: 0 15px;
    background-color: white;
    .list-item {
      a {
        padding-left: 15px !important;
      }
    }
    .dropdown-menu {
      background: #a1b82f !important;
    }
  }

  .footer-links {
    padding-left: 0 !important;
  }

  .footer-ksl-logo {
    float: left;
    clear: left;
  }
}
