// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Bubblegum Sans';
  src: font-url('bubblegumsans-regular-webfont.woff') format('woff'),
       font-url('bubblegumsans-regular-webfont.woff2') format('woff'),
       font-url('BubblegumSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Dosis-Bold';
	src: url('Dosis-Bold.eot');
	src: url('Dosis-Bold.eot?#iefix') format('embedded-opentype'),
		url('Dosis-Bold.woff') format('woff'),
		url('Dosis-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


//********* footer links pages css ***********

.bottom-links-header {
  color: #D47700;
  font-size: 3em;
  font-family: 'Bubblegum Sans';
}

.dmca-list {
  padding-left: 30px;
}

// ******** css for static pages linked by the navbar ************

.nav-links-header {
  font-family: 'Dosis-bold', sans-serif;
  color: #f58327;
}

h3, h4 {
  font-family: 'Dosis', sans-serif;
  margin-top: 30px;
}
.green-h3 {
  color: #6fa315;
}

.orange-h4 {
  color: #f58327;
}

.blue-h4 {
  color: #0089ce;
  padding-left: 0;
}

.no-padding-left {
  padding-left: 0;
}

.light-orange-span {
  font-family: 'Dosis-Bold', sans-serif;
  color: #fbad1c;
}

// ******** misc fonts css ****** //

.dosis-font {
  font-family: 'Dosis', sans-serif;
}

.dosis-bold {
  font-family: 'Dosis-Bold', sans-serif;
}

.bigger-font {
  font-size: 17px;
  font-weight: bold;
}

.schedule-container {
  .h3-link {
    &:hover, &:visited, &:link, &:active {
      text-decoration: none;
      color: #0089ce;
    }
  }
  p {
    font-size: 18px;
  }
}

// *************** home screen bubbles and stuff ***********//
.word-bubble {
  max-width: 287px;
  margin-top: 105px;
  // margin-bottom: -50px;
  .word-bubble-container {
    position: relative;
    background: url('/images/word-bubble.png') no-repeat center;
    height: 200px;
  }
  .words-container {
    padding: 20px 55px 0 65px;
    font-family: "Dosis-Bold";
    font-size: 20px;
    color: red;
  }
}

.bubbles {
  margin-bottom: -75px;
  padding: 0;
}

.robot {
  margin-top: 130px;
}

.space-ship-gif {
  margin-top: 70px;
}

.green-hr {
  border: 1px solid #6fa315
}
// *********** phone screen ***********

@media only screen and (max-width: 758px) {

  .dmca-header {
    font-size: 2em;
  }

  .disappears-on-phones {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  .word-bubble-container, .word-bubble {
    display: none;
  }
}
