.container-fluid.page-bottom.col-md-12.col-sx-12.clearfix
  .footer-links-container.col-md-6.col-xs-10.clearfix
    %p.footer-links
      = link_to 'Terms of Use', pages_index_path(page: 'terms_of_use')
      |
      = link_to 'DMCA Notice', pages_index_path(page: 'dmca_notice')
      |
      = link_to 'Privacy Statement', pages_index_path(page: 'privacy_statement')
  .footer-ksl-logo.col-md-2.col-xs-6.clearfix
