.container-fluid.page-bottom.col-md-12.col-sx-12
  .footer-links-container.col-md-6.col-xs-10
    %p.footer-links
      %a{ href: '#'} Terms of Use
      |
      %a{ href: '#'} DMCA Notice
      |
      %a{ href: '#' } Privacy Statement
  .footer-ksl-logo.col-md-2.col-xs-6
