.container-fluid.blacky.col-md-8.col-xs-8
  %nav.navbar
    .container-fluid
      %a.btn.btn-navbar.navbar-toggle.collapsed{ "data-target" => ".navbar-collapse", "data-toggle" => "collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: '#'} OUR MISSION
          %li.dropdown
            %a{"data-toggle" => "dropdown", class: "dropdown-toggle"} PROGRAMS
            %ul.dropdown-menu
              %li
                %a{href: '#'} SUMMER READING
              %li
                %a{href: '#'} PIZZA PLEDGE
              %li
                %a{href: '#'} VOLUNTEER
          %li.dropdown
            %a{ "data-toggle" => "dropdown", class: "dropdown-toggle" } RESOURCES
            %ul.dropdown-menu
              %li
                %a{href: '#'} 123 CONNECT
              %li
                %a{href: '#'} FAQs
          %li.dropdown
            %a{ "data-toggle" => "dropdown", class: "dropdown-toggle" } MEDIA
            %ul.dropdown-menu
              %li
                %a{href: '#'} NEWS
              %li
                %a{href: '#'} SHARE STORY
          %li
            %a{href: '#'} CONTACT
