.container.blacky.col-lg-8.col-md-10.col-xs-12
  %nav.navbar
    .container-fluid
      %a.btn.btn-navbar.navbar-toggle.collapsed{ "data-target" => ".navbar-collapse", "data-toggle" => "collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'OUR MISSION', pages_index_path(page: 'our_mission')
          %li.dropdown
            %a PROGRAMS
            %ul.dropdown-menu
              %li
                = link_to 'SUMMER READING', pages_index_path(page: 'summer_reading')
              %li
                = link_to 'PIZZA PLEDGE', pages_index_path(page: 'pizza_pledge')
              %li
                %a{href: '#'} VOLUNTEER
          %li.dropdown
            %a RESOURCES
            %ul.dropdown-menu
              %li
                %a{href: '#'} 123 CONNECT
              %li
                %a{href: '#'} FAQs
          %li.dropdown
            %a MEDIA
            %ul.dropdown-menu
              %li
                %a{href: '#'} NEWS
              %li
                %a{href: '#'} SHARE STORY
          %li
            %a{href: '#'} CONTACT
