.container.blacky.col-lg-8.col-md-10.col-xs-12
  %nav.navbar
    .container-fluid
      %a.btn.btn-navbar.navbar-toggle.collapsed{ "data-target" => ".navbar-collapse", "data-toggle" => "collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: '#'} OUR MISSION
          %li.dropdown
            %a PROGRAMS
            %ul.dropdown-menu
              %li
                %a{href: '#'} SUMMER READING
              %li
                %a{href: '#'} PIZZA PLEDGE
              %li
                %a{href: '#'} VOLUNTEER
          %li.dropdown
            %a RESOURCES
            %ul.dropdown-menu
              %li
                %a{href: '#'} 123 CONNECT
              %li
                %a{href: '#'} FAQs
          %li.dropdown
            %a MEDIA
            %ul.dropdown-menu
              %li
                %a{href: '#'} NEWS
              %li
                %a{href: '#'} SHARE STORY
          %li
            %a{href: '#'} CONTACT
