.container-fluid.blacky.col-md-8.col-xs-8
  %nav.navbar
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{ "aria-expanded" => "false","data-target" => "#read-today-navbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #read-today-navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.main-nav
            %a#our-mission.nav-top{href: "#"}
              OUR MISSION
          %li.dropdown.main-nav
            %a.dropdown-toggle.nav-top{href: '#', 'data-toggle' => "dropdown"}
              PROGRAMS
              %ul.dropdown-menu
                %li.list-item
                  %a{href: "#"} SUMMER READING
                %li.list-item
                  %a{href: "#"} PIZZA PLEDGE
                %li.list-item
                  %a{href: "#"} VOLUNTEER
          %li.dropdown.main-nav
            %a.dropdown-toggle.nav-top{href: '#', 'data-toggle' => "dropdown"}
              RESOURCES
              %ul.dropdown-menu
                %li.list-item
                  %a{href: "#"} 123 CONNECT
                %li.list-item
                  %a{href: "#"} FAQs
          %li.dropdown.main-nav
            %a.dropdown-toggle.nav-top{href: '#', 'data-toggle' => "dropdown"}
              MEDIA
              %ul.dropdown-menu
                %li.list-item
                  %a{href: "#"} NEWS
                %li.list-item
                  %a{href: "#"} SHARE STORY
          %li.main-nav
            %a.nav-top{href: '#' } CONTACT
