.vertical-circles.container-fluid.col-md-3.disappears-on-phones
  .circle-container
    .outer-circle.light-blue-circle
      .inner-circle-container
        .inner-circle.dark-blue-circle
        .circle-content
          %p.circle-header VOLUNTEER
          %p.circle-text
            Support your local school and make a difference in a child's life today.
  .circle-container
    .outer-circle.light-orange-circle
      .inner-circle-container
        .inner-circle.dark-orange-circle
        .circle-content
          %p.circle-header SUMMER READING
          %p.circle-text
            See how you can take part in this summer's challenge!
  .circle-container
    .outer-circle.light-green-circle
      .inner-circle-container
        .inner-circle.dark-green-circle
        .circle-content
          %p.circle-header GET SOCIAL
          %p.circle-text
            We are uniting a culture of reading across the state. The movement
            begins with you. Join us.
          %a{href: "https://www.facebook.com/readtoday", target: :_blank}
            %i.fa.fa-facebook-square{style: "font-size:36px;color:#3b5998;"}
          &nbsp
          %a{href: "https://www.instagram.com/kslreadtoday", target: :_blank}
            %i.fa.fa-instagram{style: "font-size:36px;color:#3b5998"}  
