.verticle-circles.container-fluid.col-md-3
  .circle-container
    .outer-circle.light-blue-circle
      .inner-circle-container
        .inner-circle.dark-blue-circle
  .circle-container
    .outer-circle.light-orange-circle
      .inner-circle-container
        .inner-circle.dark-orange-circle
  .circle-container
    .outer-circle.light-green-circle
      .inner-circle-container
        .inner-circle.dark-green-circle
